@model IEnumerable<FireSys.Entities.EvidencijskaKartica>

@{
    ViewBag.Title = "Evidencijske kartice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Kreiranje nove evidencijske kartice", "Create")
</p>


<script type="text/javascript">
    function OnClick(s, e) {
        var actionParams = $("form").attr("action").split("?OutputFormat=");
        actionParams[1] = s.GetMainElement().getAttribute("OutputFormatAttribute");
        $("form").attr("action", actionParams.join("?OutputFormat="));
    }

    function deleteRow() {
        var txt;
        var r = confirm("Da li zelite obrisati?");
        if (r == true) {
            return true;
        } else {
            return false;
        }
    }
</script>

@using (Html.BeginForm("ExportTo", "EvidencijskaKartica"))
{

    <table>
        <tr>
            <td>
                @Html.DevExpress().Button(btn =>
           {
               btn.Name = "btnExportToPDF";
               btn.Attributes["OutputFormatAttribute"] = "PDF";
               btn.Text = "PDF";
               btn.UseSubmitBehavior = true;
               btn.ClientSideEvents.Click = "OnClick";
           }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Button(btn =>
           {
               btn.Name = "btnExportToXLSX";
               btn.Attributes["OutputFormatAttribute"] = "XLSX";
               btn.Text = "EXCEL";
               btn.UseSubmitBehavior = true;
               btn.ClientSideEvents.Click = "OnClick";
           }).GetHtml()
            </td>
        </tr>
    </table>

    <br />


    @Html.Partial("EvidencijskaKarticaGridView", Model)
}
