
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        @RenderBody();

        <div class="row">
            <div class="form-group col-lg-6">

            </div>
            <div class="form-group col-lg-6">
                <div class="">
                    <input type="submit" value="Spasi" class="btn btn-success pull-right margin-bottom-10" />
                </div>
                <div class="">
                    @Html.ActionLink("Otkaži", "Index", "", new { @class = "btn btn-default pull-right margin-right-10 margin-bottom-10" })
                </div>
            </div>
        </div>
}