<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FireSys.Entities.Properties.Settings.VatrosistemiConnectionString"
            connectionString="Data Source=DESKTOP-8RED8O5\SQLEXPRESS;Initial Catalog=Vatrosistemi;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>