<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FireSys.Entities.Properties.Settings.VatrosistemiConnectionString"
            connectionString="Data Source=LATITUDE5550-PC\SQLEXPRESS;Initial Catalog=FireSys;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>