@model FireSys.Models.RadniNalogViewModel

@{
    ViewBag.Title = "Detalji radnog naloga";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<div class="col-lg-6 col-lg-offset-3">
    @{ Html.RenderPartial("_DetailsCreate", Model); }
</div>
