@model FireSys.Models.RadniNalogViewModel

@{
    ViewBag.Title = "Izmjena radnog naloga";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
<div class="col-lg-6 col-lg-offset-3">
    @{ Html.RenderPartial("_Details", Model);  }

    @Html.HiddenFor(model => model.RadniNalogId)
    @Html.HiddenFor(model => model.DatumKreiranja)
</div>