@model IEnumerable<FireSys.Entities.RadniNalog>

@{
    ViewBag.Title = "Radni nalozi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function OnClick(s, e) {
        var actionParams = $("form").attr("action").split("?OutputFormat=");
        actionParams[1] = s.GetMainElement().getAttribute("OutputFormatAttribute");
        $("form").attr("action", actionParams.join("?OutputFormat="));
    }
    var globalSender = null;

    function documentViewer_Init(sender, e) {
        //var scaleFactorEditor = sender.GetToolbar().GetItemTemplateControl("ScaleFactor");
        //scaleFactorEditor.SetValue("100");
        //sender.Refresh();
        //sender.previewModel.reportPreview.zoom(1);
        //sender.previewModel.reportPreview.previewVisible();
        //globalSender = sender;

        $('.dxrd-image-search').trigger('click')


        $('.dxrd-right-panel-collapse-image').trigger('click')
    }

    function documentViewer_ToolbarItemValueChanged(sender, e) {
        document.getElementById('Scale').value = e.editor.GetValue();
        sender.Refresh();
    }

    function deleteRow() {
        var txt;
        var r = confirm("Da li zelite obrisati?");
        if (r == true) {
            return true;
        } else {
            return false;
        }
    }

    $(function () {
        $('.print-report').on('click', function () {
            var dataUrl = $(this).attr('data-url');
            var dataID = $(this).attr('data-id');

            $.ajax({
                url: dataUrl,
                data: { id: dataID },
                dataType: 'json',
                type: "POST",
                beforeSend: function () {

                },
                complete: function () {

                },
                success: function (data) {
                    $('#modal_report_body').html(data.content);
                    $('#modal_report').modal('show');
                }
            });



        });
    });
</script>

@using (Html.BeginForm("ExportTo", "RadniNalog"))
{
    <div class="action-container margin-bottom-20 pull-right">
        <table>
            <tr>
                <td>
                    @*@Html.ActionLink("Kreiraj novog klijenta", "Create", null, new { @class = "btn btn-primary" })*@
                    @Html.DevExpress().Button(btn =>
               {
                   btn.Name = "btnNewRadniNalog";
                   btn.Text = "Kreiraj novi radni nalog";
                   btn.RouteValues = new { Controller = "RadniNalog", Action = "Create", ParamValue = "" };
                   btn.ControlStyle.CssClass = "create-button";
               }).GetHtml()
                </td>
                <td>
                <td>
                    @Html.DevExpress().Button(btn =>
           {
               btn.Name = "btnExportToPDF";
               btn.Attributes["OutputFormatAttribute"] = "PDF";
               btn.Text = "PDF";
               btn.UseSubmitBehavior = true;
               btn.ClientSideEvents.Click = "OnClick";
               btn.ControlStyle.CssClass = "export-button";
           }).GetHtml()
                </td>
                <td>
                    @Html.DevExpress().Button(btn =>
           {
               btn.Name = "btnExportToXLSX";
               btn.Attributes["OutputFormatAttribute"] = "XLSX";
               btn.Text = "EXCEL";
               btn.UseSubmitBehavior = true;
               btn.ClientSideEvents.Click = "OnClick";
               btn.ControlStyle.CssClass = "export-button";
           }).GetHtml()
                </td>
            </tr>
        </table>
    </div>

    <br />


        @Html.Partial("RadniNalogGridView", Model)
}
