@model IEnumerable<FireSys.Entities.Hidrant>

@{
    ViewBag.Title = "Hidranti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Dodaj novi hidrant", "Create", "", new { @class = "btn btn-success pull-right margin-bottom-10" })
</p>
<div id="jsgrid_hidrants" class="js-grid ">

</div>

<script type="text/javascript">
    $(document).ready($(function () {

        $("#jsgrid_hidrants").jsGrid({
            height: "auto",
            width: "100%",
            sorting: true,
            paging: true,
            autoload: true,
            pageloading: true,
            filtering: true,
            pageSize: 15,
            pageButtonCount: 5,
            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();

                    $.ajax({
                        url: "@Url.Action("GetCollection", "Hidrants")",
                            data: filter,
                            method: "POST",
                            dataType: "json"
                        }).done(function (value) {
                            d.resolve(value.data);
                        });

                        return d.promise();
                    }
                },
                fields: [
                    { name: "ID", type: "text" },
                    { name: "Oznaka", type: "text" },
                    { name: "Lokacija", type: "text" },
                    { name: "Instalacija", type: "text" },
                    { name: "HSPritisak", type: "text" },
                    { name: "HDPritisak", type: "text" },
                    { name: "Tip", type: "text" },
                    { name: "Protok", type: "text" },
                    { name: "Kompletnost", type: "text" },
                    {
                        type: "control",
                        itemTemplate: function (_, item) {
                            return '<a class="fa fa-edit" href="/Hidrants/Edit/' + item.ID +'"> </a> | <a class="fa fa-search" href="/Hidrants/Details/' + item.ID +'"> </a> | <a class="fa fa-trash-o" href="/Hidrants/Delete/'+item.ID+'"> </a>';
                        }
                    }
                ]
            });
        }));


</script>
